body {
    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, hr {
    margin: 0;
}

/* Container*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 40px;
    
}

.header__img {
    position: absolute;
}

.header__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 300;
    position: relative;
    padding-left: 80px;
}

ul {
    list-style-type: none;
}

.navigation {
    display: inline-block;
}

.navi__link {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding-right: 25px;
    transition: color .2s linear;
}

.navi__link:hover {
    color: #c7b299;
}









/* Intro */

.intro {
    background: url(../images/intro.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

}

.intro__inner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.sup__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 25px;
}

.intro__text{
    margin-bottom: 55px;
}

.intro__btn{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    background-color: #998675;
    padding: 20px 45px;
    border-radius: 3px;
    transition: background-color .2s linear;
}

.intro__btn:hover {
    background-color: #664e38;
}

/* Wedo */

.wedo {
    padding: 155px 0 80px;
}

.wedo__inner {
    display: flex;
    justify-content: space-between;
}

.wedo__item{
    flex: 1 1 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.wedo__title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    transition: color .2s linear;
}

.wedo__title:hover {
    color: #c7b299;
}

.wedo__text {
    font-size: 14px;
    font-weight: 300;
    color: #555;
    
}

.wedo__text:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1eee9;
    margin: 27px auto 0;
    
}

.wedo__img {
    max-width: 60px;
    height: auto;
    position: absolute;
    top: -75px;
    left: 120px;
   
}

.imageTwo {
    top: -70px;
}

/* Section */

.section__ideas {
    background: #fbfaf8;
}

.section__header {
    width: 100%;
    max-width: 750px;
    text-align: center;
    color: #555;
    margin: 0 auto 35px;
    padding-top: 80px;
}

.section__title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.ideas {
    width: 100%;
    max-width: 1230px;
    margin: 40px auto 0;
    position: relative;
    height: 480px;
    
}

.ideas__item-mid {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 18.6%;
}

.ideas__item-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ideas__item-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ideas__img {
    display: block;

}

/* Purchase */

.purchase {
    background: url(../images/purchase/background.jpg);
}

.purchase__inner {
    width: 100%;
    max-width: 1170px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.purchase__title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.title__brown {
    color: #c7b299;
}

.purchase__text {
    font-size: 18px;
    color: #615855;
}

.purchase__btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #998675;
    padding: 17px 30px;
    border-radius: 3px;
    transition: background .2s linear;
}

.purchase__btn:hover {
    background-color: #664e38;
}