body {
    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, hr, ul {
    margin: 0;
}

/* Container*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 40px;
    
}

.header__img {
    position: absolute;
}

.header__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 300;
    position: relative;
    padding-left: 80px;
}

ul {
    list-style-type: none;
}

.navigation {
    display: inline-block;
}

.navi__link {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding-right: 25px;
    transition: color .2s linear;
}

.navi__link:hover {
    color: #c7b299;
}









/* Intro */

.intro {
    background: url(../images/intro.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

}

.intro__inner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.sup__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 25px;
}

.intro__text{
    margin-bottom: 55px;
}

.intro__btn{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    background-color: #998675;
    padding: 20px 45px;
    border-radius: 3px;
    transition: background-color .2s linear;
}

.intro__btn:hover {
    background-color: #664e38;
}

/* Wedo */

.wedo {
    padding: 155px 0 80px;
}

.wedo__inner {
    display: flex;
    justify-content: space-between;
}

.wedo__item{
    flex: 1 1 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.wedo__title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    transition: color .2s linear;
}

.wedo__title:hover {
    color: #c7b299;
}

.wedo__text {
    font-size: 14px;
    font-weight: 300;
    color: #555;
    
}

.wedo__text:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1eee9;
    margin: 27px auto 0;
    
}

.wedo__img {
    max-width: 60px;
    height: auto;
    position: absolute;
    top: -75px;
    left: 120px;
   
}

.imageTwo {
    top: -70px;
}

/* Section */

.section__ideas {
    background: #fbfaf8;
}

.section__header {
    width: 100%;
    max-width: 750px;
    text-align: center;
    color: #555;
    margin: 0 auto 35px;
    padding-top: 80px;
}

.section__title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.ideas {
    width: 100%;
    max-width: 1230px;
    margin: 40px auto 0;
    position: relative;
    height: 480px;
    
}

.ideas__item-mid {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 18.6%;
}

.ideas__item-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ideas__item-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ideas__img {
    display: block;

}

/* Purchase */

.purchase {
    background: url(../images/purchase/background.jpg);
}

.purchase__inner {
    width: 100%;
    max-width: 1170px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.purchase__title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.title__brown {
    color: #c7b299;
}

.purchase__text {
    font-size: 18px;
    color: #615855;
}

.purchase__btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #998675;
    padding: 17px 30px;
    border-radius: 3px;
    transition: background .2s linear;
}

.purchase__btn:hover {
    background-color: #664e38;
}

/* Projects */

.projects__links {
    width: 640px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}

.projects__links-item {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 4px 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    color: #8c8c8c;
}

.projects__links-item:hover {
    background-color: #998675;
    color: #fff;
    border: 1px solid #998675;
}

.projects__cards {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.projects__cards-item {
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    background-color: #fbfaf8;
    transition: background-color .2s linear;
    position: relative;
}

.projects__cards-item:hover {
    background-color: #362f2d
}

.projects__cards-item:hover img {
    opacity: .1;
}

.projects__cards-item:hover .card__links {
    opacity: 1;
}

.projects__cards-item:hover .card__title {
    color: #f2f1f1;
}

.projects__cards-item:hover .card__text {
    color: #c7b299;
}

.projects__cards-img {
    opacity: 1;
    transition: opacity .1s linear;
}

.card__links {
    position: absolute;
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    top: 25%;
    left: 0;
    transition: opacity .1s linear;
}

.card__link {
    width: 60px;
    height: 60px;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    color: #c7b299;
    transition: color .1s linear;
}

.card__link:hover {
    color: #fff;
}



.card__info {
    padding: 25px 25px 25px;
}

.card__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #c7b299;
    transition: color .1s linear;
}

.card__text {
    font-size: 14px;
    font-weight: 300;
    color: #d7d7d6;
    transition: color .1s linear;
}

.projects__btn {
    margin-top: 10px;
    text-align: center;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #998675;
    padding: 14px 45px;
    border-radius: 4px;
    transition: background .2s linear;
    display: inline-block;
    margin-bottom: 80px;
}

.btn:hover {
    background-color: #664e38;
}

/* Video */

.video {
    display: block;
    width: 100%;
    max-width: 1920px;
    max-height: 707px;
    
}

/* Mobile devices */

.md-section {
    background-color: #fbfaf8;
    position: relative;
    padding-left: 870px;
    padding-top: 190px;
    padding-bottom: 175px;
}

.md-image {
    position: absolute;
    bottom: 0;
    left: 360px;
    
}

.md-image img {
    display: block;
}

.md-content {
    max-width: 666px;
    
}

.md-title {
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.md-text {
    color: #8c8c8c;
    margin-bottom: 40px;
}

.md-list {
    color: #8c8c8c;
    padding-left: 95px;
    position: relative;
}

.md-list li {
    margin-bottom: 10px;
}

.list__icon {
    position: absolute;
    left: 50px;
}