body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, hr, ul {
    margin: 0;
}

/* Container*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.header__img {
    position: absolute;
}

.header__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 300;
    position: relative;
    padding-left: 80px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navigation {
    display: flex;
}

.navi__link {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding-right: 25px;
    transition: color .2s linear;
}

.navi__link:hover {
    color: #c7b299;
}

.header__shop {
    display: flex;
    align-items: center;
    margin: 0 0 0 54px;
}

.header__shop__icon {
    fill: #fff;
    transition: fill .2s linear;
}

.header__shop__icon:hover {
    fill: #c7b299;
}

.header__search {
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
}

.header__search__icon {
    fill: #fff;
    transition: fill .2s linear;
}

.header__search__icon:hover {
    fill: #c7b299;
}

/* Intro */

.intro {
    background: url(../images/intro.jpg) center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.intro__inner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.sup__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 25px;
}

.intro__text{
    margin-bottom: 55px;
}

.intro__btn{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    background-color: #998675;
    padding: 20px 45px;
    border-radius: 3px;
    transition: background-color .2s linear;
}

.intro__btn:hover {
    background-color: #664e38;
}

/* Wedo */


.section__wedo {
    padding: 80px 0 65px;
}

.wedo__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

.wedo__item {
    width: 100%;
    max-width: 270px;
    margin-bottom: 40px;
}

.wedo__link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.wedo__link::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background-color .2s linear;
}

.wedo__item:hover .wedo__title {
    color: #C7B299;
}

.wedo__item:hover .wedo__link::after {
    background-color: #C7B299;
}

.wedo__item:hover .wedo__icon {
    fill: #C7B299;
}

.wedo__icon {
    margin-bottom: 30px;
    fill: #555555;
    min-height: 49px;
    transition: fill .2s linear;
}

.wedo__title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555;
    margin-bottom: 20px;
    display: inline-block;
    transition: color .2s linear;
}

.wedo__text {
    font-size: 14px;
    font-weight: 300;
    color: #555;
    text-align: center;
}

/* Section */

.section__ideas {
    background: #fbfaf8;
}

.section__header {
    width: 100%;
    max-width: 750px;
    text-align: center;
    color: #555;
    margin: 0 auto 35px;
    padding-top: 80px;
}

.section__title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.ideas {
    width: 100%;
    max-width: 1230px;
    margin: 40px auto 0;
    position: relative;
    height: 480px;
    
}

.ideas__item-mid {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 18.6%;
}

.ideas__item-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ideas__item-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ideas__img {
    display: block;

}

/* Purchase */

.purchase {
    background: url(../images/purchase/background.jpg) center;
}

.purchase__inner {
    width: 100%;
    max-width: 1170px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.purchase__title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.title__brown {
    color: #c7b299;
}

.purchase__text {
    font-size: 18px;
    color: #615855;
}

.purchase__btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #998675;
    padding: 17px 30px;
    border-radius: 3px;
    transition: background .2s linear;
}

.purchase__btn:hover {
    background-color: #664e38;
}

/* Projects */

.projects__links {
    width: 640px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}

.projects__links-item {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 4px 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    color: #8c8c8c;
}

.projects__links-item:hover {
    background-color: #998675;
    color: #fff;
    border: 1px solid #998675;
}

.projects__cards {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.projects__cards-item {
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    background-color: #fbfaf8;
    transition: background-color .2s linear;
    position: relative;
}

.projects__cards-item:hover {
    background-color: #362f2d
}

.projects__cards-item:hover img {
    opacity: .5;
}

.projects__cards-item:hover .card__links {
    opacity: 1;
}

.projects__cards-item:hover .card__title {
    color: #f2f1f1;
}

.projects__cards-item:hover .card__text {
    color: #c7b299;
}

.projects__cards-item:hover .card__info::before {
    border-bottom: 10px solid #362f2d;
}

.projects__cards-img {
    opacity: 1;
    transition: opacity .1s linear;
}

.card__links {
    position: absolute;
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    top: 25%;
    left: 0;
    transition: opacity .1s linear;
}

.card__link {
    width: 60px;
    height: 60px;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    color: #c7b299;
    transition: color .1s linear;
}

.card__link:hover {
    color: #fff;
}

.card__info {
    padding: 25px 25px 25px;
    position: relative;
}

.card__info::before {
    content: "";
    display: block;
    position: absolute;
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    top: -32px;
    left: 19px;
    transition: all .2s linear;
}

.card__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #c7b299;
    transition: color .1s linear;
}

.card__text {
    font-size: 14px;
    font-weight: 300;
    color: #d7d7d6;
    transition: color .1s linear;
}

.projects__btn {
    margin-top: 10px;
    text-align: center;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: #998675;
    padding: 14px 45px;
    border-radius: 4px;
    transition: background .2s linear;
    display: inline-block;
    margin-bottom: 80px;
}

.btn:hover {
    background-color: #664e38;
}

/* Video */

.section_video {
    position: relative;
}

.video {
    object-fit: cover;
    width: 100%;
    max-width: 1920px;
    max-height: 707px;
    display: block;    
}

.video__content {
    position: absolute;
    display: block;
    top: 50%;
    left: 35%;
    margin: 0 auto;
    width: 100%;
    max-width: 580px;
    text-align: center;

}

.video__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 25px;
}

.video__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}

/* Mobile devices */

.md-section {
    background-color: #fbfaf8;
    position: relative;
    padding-left: 870px;
    padding-top: 190px;
    padding-bottom: 175px;
}

.md-image {
    position: absolute;
    bottom: 0;
    left: 360px;
    
}

.md-image img {
    display: block;
}

.md-content {
    max-width: 666px;
    
}

.md-title {
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.md-text {
    color: #8c8c8c;
    margin-bottom: 40px;
}

.md-list {
    color: #8c8c8c;
    padding-left: 95px;
    position: relative;
}

.md-list li {
    margin-bottom: 10px;
}

.list__icon {
    position: absolute;
    left: 50px;
}

/* Statistics */

.statistics {
    background: url(../images/statistics/stat-bg.jpg) center;
}

.statistics__inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
}

.stat__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 65px; 
    padding-bottom: 60px;
    padding-left: 0;
}

.stat__item {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat__item::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 30px auto 0;
}

.stat__count {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 48px;
    color: #ffffff;
}

.stat__name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    text-transform: uppercase;
}


/* Projects cards */

.posts__cards {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts__cards-item {
    width: 100%;
    max-width: 370px;
    margin-bottom: 40px;
    background-color: #fbfaf8;
    transition: background-color .2s linear;
    position: relative;
}

.posts__cards-item:hover {
    background-color: #362f2d;
}

.posts__cards-item:hover img {
    opacity: .5;
}

.posts__cards-item:hover .posts__cards-title {
    color: #c7b299;
}

.posts__cards-item:hover .posts__cards-text {
    color: #fff;
}



.posts__cards-item:hover .date {
    background-color: #c7b299;
    border-top: 1px solid #c7b299;
    border-left: 1px solid #c7b299; 
    border-right: 1px solid #c7b299;
    
}

.posts__cards-item:hover .month {
    background-color: #a48d72;
    border-bottom: 1px solid #a48d72;
    border-left: 1px solid #a48d72; 
    border-right: 1px solid #a48d72;
    
}

.posts__cards-img {
    display: block;
    opacity: 1;
    transition: opacity .1s linear;
}

.posts__cards-info {
    padding: 25px 25px 25px;
    line-height: normal;
}

.posts__cards-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #555555;
    transition: color .1s linear;
    margin-bottom: 20px;
}

.posts__cards-text {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    transition: color .1s linear;
    margin-bottom: 25px;
}

.posts__link {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    position: relative;
    display: block;
    max-width: 120px;
}

.posts__link::after {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid transparent;
    border-left: 5px solid #c7b299;
    top: 25%;
    left: 70%;
}

.calendar {
    position: absolute;
    top: 18px;
    left: 15px;
    text-align: center;
    display: block;
    
}

.date {
    height: 37px;
    width: 50px;
    border-top: 1px solid #363636;
    border-left: 1px solid #363636; 
    border-right: 1px solid #363636;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;     
    background-color: #363636;
    transition: background-color .1s linear, border-color .1s linear;
}

.date time {
    font-weight: 300;
    font-size: 24px;
    line-height: normal;    
}

.date-date {
    margin-top: 3px;
    display: inline-block;
}

.month {
    height: 41%;
    background-color: #252525;
    border-bottom: 1px solid #252525;
    border-left: 1px solid #252525; 
    border-right: 1px solid #252525;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background-color .1s linear, border-color .1s linear;
}

.month time {
    font-size: 12px;
}

.month-month {
    display: inline-block;
    margin-bottom: 2px;
}

.posts-buttons {
    width: 100%;
    max-width: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 80px;
}

.post__button svg {
    fill: #d7d7d7;
}

.button__svg:hover {
    fill: #C7B299;
}


/* Partners */

.section-partners {
    background-image: url(../images/partners/bg_partners.jpg);
    background-size: cover;
    
}

.partners {
    max-width: 1065px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 0;
    
}

.parners__logo {
    width: 100%;
    max-width: 210px;
    height: auto;
    transition: all .5s ease-out;
    overflow: hidden;
}

.parners__logo:hover {
    transform: scale(1.1);
}

/* Footer */

.footer {
    background-color: #191919;
    padding-top: 75px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.footer__col {
    max-width: 270px;
}

.footer__logo__block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer__title__waxom {
    font-size: 34px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.footer__title__waxom:hover {
    text-decoration-line: underline;
}

.footer__title {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 30px;
}

.footer__content {
    max-width: 270px;
    font-size: 14px;
    color: #555;
}

.footer__readmore {
    margin-top: 30px;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    display: block;
    max-width: 120px;
    color: #d1d1d1;
}

.footer__readmore::after {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid transparent;
    border-left: 5px solid #d1d1d1;
    top: 35%;
    left: 70%;
}

.footer__readmore:hover {
    color: #c7b299;
}

.footer__post {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.footer__post:hover .footer__post__date {
    color: #fff;
}

.footer__post:hover .footer__post__link {
    color: #c7b299;
}

.footer__post__date {
    font-weight: 300;
    font-size: 12px;
    color: #363636;
    margin-bottom: 10px;
}

.footer__post__link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    color: #555;
}

.footer__first__post {
    margin-bottom: 20px;
}

.footer__second__post {
    padding-top: 18px;
    padding-bottom: 20px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
}

.footer__third__post {
    padding-top: 20px;
}

.footer__twitter {
    color: #00BFF3;
    
}

.footer__twitter:hover {
    text-decoration: underline;
}

.footer__twitter__link {
    color: #959595;
}

.footer__twitter__link:hover {
    text-decoration: underline;
}

.footer__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__images__item {
    margin-bottom: 10px;
}

.footer__images__item img {
    transition: all .5s ease-out;
}

.footer__images__item:hover img {
    transform: scale(1.1);
}


.footer__images__item img {
    display: block;
}

/* Copyright */

.copyright {
    background-color: #111111;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
}

.copyright__inner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.copyright__block__left {
    display: flex;
    font-size: 13px;  
    color: #555;  
}

.copyright__link__waxom {
    color: #7b7b7b;
    margin-right: 12px;
    padding-left: 3px;
    text-decoration: none;
    
}

.copyright__link__waxom:hover {
    text-decoration: underline;
}

.copyright__link {
    text-decoration: none;
    color: #555;  
    margin-right: 12px;
    padding-left: 12px;
    border-left: 1px solid #252525;
}

.copyright__link:hover {
    color: #c7b299;
}

.copyright__block__right {
    display: flex;
    font-size: 13px;  
    color: #555; 
}

.copyright__link__right {
    color: #7b7b7b;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 3px;
    text-decoration: none;
    border-right: 1px solid #252525;
}

.copyright__link__right:last-child {
    margin: 0;
    border: 0;
    padding-left: 3px;
}

.copyright__link__right:hover {
    text-decoration: underline;
}


/* Адаптив */

@media (max-width: 600px) {

    .container {
        max-width: 580px;
    }

    .header__inner {
        margin-left: 20px;
    }

    .navigation {
        display: none;
    }

    .sup__title {
        font-size: 30px;
    }

    .intro__title {
        font-size: 40px;
    }

    .intro__text {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .section__ideas {
        display: none;
    }

    .purchase__inner {
        flex-wrap: wrap;
        text-align: center;
    }

    .purchase__title {
        margin: 0 auto;
    }

    .purchase__text {
        margin-bottom: 20px;
    }

    .purchase__btn {
        margin: 0 auto;
        padding: 12px 25px;
    }

    .projects__links {
        flex-wrap: wrap;
        max-width: 580px;
    }

    .projects__cards {
        justify-content: center;
    }

    .video__content {
        top: 50%;
        left: 1%;
    }

    .video__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .video__text {
        font-size: 14px;
        max-width: 560px;
        margin: 0 auto;
    }

    .md-section {
        padding: 30px 0 80px 0;
        
    }

    .md-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .md-content {
        padding-left: 0px;
        font-size: 14px;
    }

    .md-text {
        padding: 0 20px 0 20px;
    }

    .md-list {
        padding-left: 250px;
        padding-right: 20px;
        font-size: 12px;
    }

    .list__icon {
        left: 215px;
    }

    .md-image {
        left: 20px;
    }

    .md-image img {
        max-height: 250px;
        width: auto;
    }

    .statistics {
        display: none;
    }

    .section__header {
        padding-top: 50px;
    }

    .posts__cards {
        justify-content: center;
    }

    .posts-buttons {
        margin-bottom: 20px;
    }

    .partners {
        padding: 50px 10px;
    }

    .parners__logo {
        max-width: 130px;
        height: auto;
    }

    .footer {
        padding: 0;
    }

    .footer__inner {
        display: none;
    }

    .copyright {
        margin: 0;
        padding: 40px;
    }

    .copyright__inner {
        max-width: 580px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .copyright__block__left {
        margin-bottom: 20px;
    }
}











